<div class="board-column" (dragover)="allowDrop($event)" (drop)="drop($event)" id="{{column._id}}">
    <div class="column-title">
      {{ column.name }} | {{column._id}}
    </div>

    <div class="tasks-container">
      <app-task *ngFor="let task of (tasks | async)" [task]="task" (click)="openModalTaskDetail(task)"></app-task>
    </div>

  <!--<input #addTaskInput type="text" (keyup.enter)="onEnter(addTaskInput.value); addTaskInput.value=''; displayAddTask=false;" *ngIf="displayAddTask" autofocus>-->
  <button class="btn" (click)="openModalTaskAdd()">Add a task...</button>
</div>
