
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand">
      Kanban
    </a>

    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedBoard.name}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem *ngFor="let board of (boards | async)" (click)="onClickBoard(board)">{{board.name}}</button>

      </div>
    </div>

  </nav>


  <div class="root">

    <div class="container" style="margin-left: 0px">
      <div class="row" style="flex-wrap: nowrap">

        <div class="col-auto">
          <div class="board">
            <div class="board-wrapper container">

              <div class="board-columns row" style="flex-wrap: nowrap" cdkDropListGroup><!-- cdkDropListGroup-->
                <app-column class="board-column col-auto" *ngFor="let column of (columns | async)" [column]="column"></app-column>
              </div>

            </div>
          </div>
        </div>

        <div *ngIf="taskStorageService.doingTasks.length > 0" class="col-auto">
          <app-doing-list [tasks]="taskStorageService.doingTasks"></app-doing-list>
        </div>

      </div>


    </div>



  </div>



